{% extends "base.html.j2" %}

{% block title %}events — Das Gefolge{% endblock %}

{% block page_content %}
    <h1>Events</h1>
    {% if current_events | length > 0 %}
        <h2>laufende Events</h2>
        <ul>
            {% for event in current_events %}
                <li>{{event}}{% if event.start is not none and event.end is not none %} ({{event.start | dmy(event.timezone)}}–{{event.end | dmy(event.timezone)}}){% endif %}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if future_events | length > 0 %}
        <h2>zukünftige Events</h2>
        <ul>
            {% for event in future_events %}
                <li>{{event}}{% if event.start is not none and event.end is not none %} ({{event.start | dmy(event.timezone)}}–{{event.end | dmy(event.timezone)}}){% endif %}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if past_events | length > 0 %}
        <h2>vergangene Events</h2>
        <ul>
            {% for event in past_events %}
                <li>{{event}}{% if event.start is not none and event.end is not none %} ({{event.start | dmy(event.timezone)}}–{{event.end | dmy(event.timezone)}}){% endif %}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
