{% extends "base.html" %}

{% block title %}events — Das Gefolge{% endblock %}

{% block page_content %}
    <h1>Events</h1>
    <h2>zukünftige Events</h2>
    <ul>
        {% for event in future_events %}
            <li>{{event}}{% if event.start is not none and event.end is not none %} ({{event.start | dmy}}–{{event.end | dmy}}){% endif %}</li>
        {% endfor %}
    </ul>
    <h2>vergangene Events</h2>
    <ul>
        {% for event in past_events %}
            <li>{{event}}{% if event.start is not none and event.end is not none %} ({{event.start | dmy}}–{{event.end | dmy}}){% endif %}</li>
        {% endfor %}
    </ul>
{% endblock %}
