{% extends "base.html" %}

{% block title %}Menschen — {{event.__str__()}}{% endblock %}

{% block page_content %}
    <p>Aktuell {% if event.signups | length > 1 %}sind{% else %}ist{% endif %} {{event.signups | length}} Mensch{% if event.signups | length > 1 %}en{% endif %} für {{event}} angemeldet:</p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th rowspan="2">Name</th>
                <th colspan="{{(event.nights | length) * 2 + 2}}">Zeitraum</th>
                <th rowspan="2">Anreise</th>
                <th class="hidden-xs" rowspan="2">Abreise</th>
                <th rowspan="2">Sonstiges</th>
                <th rowspan="2">Details</th>
            </tr>
            <tr>
                {% for night in event.nights %}
                    <th style="text-align: center;" colspan="2">{{night | dm}}</th>
                {% endfor %}
                <th style="text-align: center;" colspan="2">{{event.end.date() | dm}}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                {% for night in event.nights %}
                    <th style="text-align: center;" colspan="2"><span class="text-success">{{event.night_signups(night) | length}}</span>+
                    {%- if event.free(night) <= 0 -%}
                        <span class="text-info">{{event.night_maybes(night) | length}}</span></th>
                    {% else -%}
                        <span class="text-warning">{{event.night_maybes(night) | length}}</span></th>
                    {% endif %}
                {% endfor %}
                <th></th>
                <th></th>
                <th class="hidden-xs" rowspan="2"></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            {% for person in event.signups %}
                <tr>
                    <td>{{person}}</td>
                    <td></td>
                    {% for night in event.nights %}
                        {% set attending_night = event.night_going(person, night) %}
                        {% if attending_night == 'yes' %}
                            <td style="text-align: center;" colspan="2" class="success" title="{{night | dm(event.timezone)}}–{{night | next_date | dm(event.timezone)}}">
                                <span class="fa fa-fw fa-check"></span>
                            </td>
                        {% elif attending_night == 'maybe' %}
                            {% if event.free(night) < 1 or (event.free(night) == 1 and event.night_maybes(night) > 1) %}
                                <td style="text-align: center;" colspan="2" class="info" title="{{night | dm(event.timezone)}}–{{night | next_date | dm(event.timezone)}}">
                                    <span class="fa fa-fw fa-clock-o"></span>
                                </td>
                            {% else %}
                                <td style="text-align: center;" colspan="2" class="warning" title="{{night | dm(event.timezone)}}–{{night | next_date | dm(event.timezone)}}">
                                    <span class="fa fa-fw fa-question"></span>
                                </td>
                            {% endif %}
                        {% elif attending_night == 'no' %}
                            <td style="text-align: center;" colspan="2" class="danger" title="{{night | dm(event.timezone)}}–{{night | next_date | dm(event.timezone)}}">
                                <span class="fa fa-fw fa-times"></span>
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td></td>
                    {% for travel in ['Anreise', 'Abreise'] %}
                        {% set travel_data = event.attendee_data(person).get(travel | lower, {}) %}
                        <td class="{% if travel_data.get('type') is none %}warning{% endif %}{% if travel != 'Anreise' %} hidden-xs{% endif %}">
                            {% if travel_data.get('type') is none %}
                                <i title="noch nicht eingetragen" class="fa fa-fw fa-question"></i>
                            {% elif travel_data['type'] == 'car' %}
                                <i title="Auto" class="fa fa-fw fa-car"></i>
                                {% if 'start' in travel_data %}
                                    {{travel_data['start'] | hm(event.timezone)}}
                                    {%- if travel_data.get('end', travel_data['start']) != travel_data['start'] -%}
                                        ~{{travel_data['end'] | hm(event.timezone)}}
                                    {% endif %}
                                {% endif %}
                            {% elif travel_data['type'] == 'public' %}
                                <i title="Bus & Bahn" class="fa fa-fw fa-subway"></i>
                                {% if travel_data.get('legs', []) | length > 0 %}
                                    {% if travel == 'Anreise' %}
                                        {{(travel_data['legs'] | last)['arrival'] | hm(event.timezone)}}
                                    {% else %}
                                        {{(travel_data['legs'] | first)['departure'] | hm(event.timezone)}}
                                    {% endif %}
                                {% endif %}
                                {#TODO Verspätung #}
                            {% elif travel_data['type'] == 'with' %}
                                <i class="fa fa-fw fa-user-plus"></i> mit {{event.travel_with(person, travel | lower)}}
                            {% elif travel_data['type'] == 'other' %}
                                <i title="sonstige" class="fa fa-fw fa-rocket"></i> {{travel_data.get('note', '')}}
                            {% else %}
                                <span class="text-danger">Unbekannte {{travel}}art: {{travel_data['type']}}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        {% for aufgabe in event.attendee_data(person).get('orga', []) %}
                            {% if aufgabe == 'Abrechnung' %}
                                <i title="Orga: Abrechnung" class="fa fa-fw fa-euro"></i>
                            {% elif aufgabe == 'Buchung' %}
                                <i title="Orga: Buchung" class="fa fa-fw fa-home"></i>
                            {% elif aufgabe == 'Essen' %}
                                <i title="Orga: Essen" class="fa fa-fw fa-cutlery"></i>
                            {% elif aufgabe == 'Programm' %}
                                <i title="Orga: Programm" class="fa fa-fw fa-calendar"></i>
                            {% elif aufgabe == 'Schlüssel' %}
                                <i title="Orga: Schlüssel" class="fa fa-fw fa-key"></i>
                            {% else %}
                                (Orga: {{aufgabe}})
                            {% endif %}
                        {% endfor %}
                        {% if person is guest %}
                            (via {{person.via}})
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{url_for('event_profile', event=event.event_id, person=person.snowflake)}}"><span class="fa fa-fw fa-eye"></span></a>
                        {% if event.can_edit(g.user, person) %}
                            <a href="{{url_for('event_profile_edit', event=event.event_id, person=person.snowflake)}}"><span class="fa fa-fw fa-edit"></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
