{% extends "base.html" %}

{% block title %}Menschen — {{event.__str__()}}{% endblock %}

{% block page_content %}
    <p>Aktuell {% if event.signups | length > 1 %}sind{% else %}ist{% endif %} {{event.signups | length}} Mensch{% if event.signups | length > 1 %}en{% endif %} für {{event}} angemeldet:</p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th rowspan="2">Name</th>
                <th colspan="{{(event.nights | length) * 2 + 2}}">Zeitraum</th>
                <th rowspan="2">Sonstiges</th>
                <th rowspan="2">Details</th>
            </tr>
            <tr>
                {% for night in event.nights %}
                    <th style="text-align: center;" colspan="2">{{night | dm}}</th>
                {% endfor %}
                <th style="text-align: center;" colspan="2">{{event.end | dm}}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                {% for night in event.nights %}
                    <th colspan="2"><span class="text-success">{{event.night_signups(night) | length}}</span>+<span class="text-warning">{{event.night_maybes(night) | length}}</span></th>
                {% endfor %}
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            {% for person in event.signups %}
                <tr>
                    <td>{{person}}</td>
                    <td></td>
                    {% for night in event.nights %}
                        {% set attending_night = event.attendee_data(person).get('nights', {}).get('{:%Y-%m-%d}'.format(night), 'maybe') %}
                        {% if attending_night == 'yes' %}
                            <td style="text-align: center;" colspan="2" class="success" title="{{night | dm}}–{{night | next_date | dm}}">
                                <span class="fa fa-check"></span>
                            </td>
                        {% elif attending_night == 'maybe' %}
                            <td style="text-align: center;" colspan="2" class="warning" title="{{night | dm}}–{{night | next_date | dm}}">
                                <span class="fa fa-question"></span>
                            </td>
                        {% elif attending_night == 'no' %}
                            <td style="text-align: center;" colspan="2" class="danger" title="{{night | dm}}–{{night | next_date | dm}}">
                                <span class="fa fa-times"></span>
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td></td>
                    <td>
                        {% if event.attendee_data(person).get('orga', []) | length > 0 %}
                            Orga: {{event.attendee_data(person)['orga'] | natjoin}}
                        {% elif person is guest %}
                            (via {{person.via}})
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{url_for('event_profile', event=event.event_id, person=person.snowflake)}}"><span class="fa fa-eye"></span></a>
                        {% if event.can_edit(g.user, person) %}
                            <a href="{{url_for('event_profile_edit', event=event.event_id, person=person.snowflake)}}"><span class="fa fa-edit"></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
