{% extends "base.html.j2" %}

{% block title %}{{event.__str__()}}{% endblock %}

{% block page_content %}
    <p>
        <strong>{{event.__str__()}}</strong>
        {% if event.end is none %}
            ist geplant aber hat noch keinen Termin.
        {% else %}
            {% if event.end < g.now %}fand{% else %}findet{% endif %}
            vom {{event.start | dmy_hm(event.timezone)}} bis zum {{event.end | dmy_hm(event.timezone)}}
            {% if event.location is not none %}
                {% if event.location.is_online %}
                    online statt.
                {% else %}
                    {{event.location}} statt.
                {% endif %}
            {% else %}
                statt. Der Ort steht noch nicht fest.
            {% endif %}
        {% endif %}
    </p>
    {% if (event.location is none or not event.location.is_online) and event.orga_unassigned | length > 0 %}
        <p>Wir suchen noch Orga-Menschen für folgende Aufgaben: {{event.orga_unassigned | natjoin}}. Wenn du etwas davon übernehmen möchtest, melde dich bitte bei {{g.admin}}. <a href="/wiki/sil-faq#orga">Weitere Infos</a></p>
    {% endif %}
    <p>
        {% if event.location is not none and event.location.is_online %}
            {# Programmpunkte #}
            {% set num_programm = event.programm | selectattr('listed') | length %}
            {% if num_programm > 0 %}
                Aktuell {% if num_programm == 1 %}ist{% else %}sind{% endif %} <a href="{{(g.view_node / 'programm').url}}">{% if num_programm == 1 %}ein Programmpunkt{% else %}{{num_programm}} Programmpunkte{% endif %}</a> geplant.
            {% else %}
                Aktuell sind noch keine Programmpunkte geplant.
            {% endif %}
        {% elif event.signups | length > 0 %}
            {# Programmpunkte #}
            {% set num_programm = event.programm | selectattr('listed') | length %}
            {% if num_programm > 0 %}
                Aktuell {% if num_programm == 1 %}ist{% else %}sind{% endif %} <a href="{{(g.view_node / 'programm').url}}">{% if num_programm == 1 %}ein Programmpunkt{% else %}{{num_programm}} Programmpunkte{% endif %}</a> geplant und
            {% else %}
                Aktuell {% if event.signups | length == 1 %}ist{% else %}sind{% endif %}
            {% endif %}
            {# Menschen #}
            <a href="{{(g.view_node / 'mensch').url}}">{% if event.signups | length == 1 %}ein Mensch{% else %}{{event.signups | length}} Menschen{% endif %}</a> {% if num_programm > 1 and event.signups | length < 2 %}ist{% elif num_programm == 1 and event.signups | length > 1 %}sind{% endif %} angemeldet.
            {# freie Plätze #}
            {% if 'capacity' in event.data %}
                {% macro block_overview(block_start, block_end, capacity, free) %}
                    Vom {{block_start | dm(event.timezone)}} bis zum {{block_end | dm(event.timezone)}} gibt es {{capacity}} Betten,
                    {% if free > 0 %}
                        von denen noch {% if free > 1 %}{{free}} frei sind{% else %}eins frei ist{% endif %}.
                    {% else %}
                        die mindestens in einer Nacht alle belegt sind.
                    {% endif %}
                {% endmacro %}
                {% set ns = namespace(block_start=event.start.date()) %}
                {% for block_end in event.nights %}
                    {% if event.capacity(block_end) != event.capacity(ns.block_start) %}
                        {{block_overview(ns.block_start, block_end, event.capacity(ns.block_start), event.free(ns.block_start, block_end))}}
                        {% set ns.block_start = block_end %}
                    {% endif %}
                {% endfor %}
                {{block_overview(ns.block_start, event.end.date(), event.capacity(ns.block_start), event.free(ns.block_start, event.end.date()))}}
            {% elif event.location is not none and 'capacity' in event.location.data %}
                {% set capacity = event.location.data['capacity'].value() %}
                {% set naive_free = capacity - (event.signups | length) %}
                {% set free = event.free() %}
                {% if free != naive_free %}
                    Wegen „vielleicht“s und Menschen, die an verschiedenen Tagen da sind, sind aber erst {{capacity - free}} Plätze belegt.
                {% endif %}
                {% if free > 0 %}
                    Das Haus hat {{capacity}} Betten, es {% if free > 1 %}sind{% else %}ist{% endif %} also noch {{free}} Bett{% if free > 1 %}en{% endif %} frei.
                {% else %}
                    Damit ist das Haus zumindest zeitweise voll. {#TODO check for free nights, adjust message accordingly #}
                {% endif %}
            {% endif %}
        {% else %}
            Aktuell ist noch niemand angemeldet.
        {% endif %}
    </p>
    {% if g.wiki.exists('event', event.event_id) %}
        {{ g.wiki.source('event', event.event_id) | markdown }}
    {% else %}
        <p>Eventbeschreibung coming soon™</p>
    {% endif %}
    <h1 id="signup">Anmeldung</h1>
    {% if event.location is not none and event.location.is_online %}
        <p>Es gibt keine Anmeldung für das event insgesamt. Du kannst dich einfach für <a href="{{(g.view_node / 'programm').url}}">Programmpunkte</a> als interessiert eintragen.</p>
    {% elif g.user in event.signups %}
        <p>
            {% if g.user.is_guest %}
                {{event.proxy(g.user)}} hat
            {% else %}
                Du hast
            {% endif %}
            dich am {{event.attendee_data(g.user)['signup'] | dmy(event.timezone)}} angemeldet.
        </p>
        <p>Du kannst <a href="{{(g.view_node / 'mensch' / g.user).url}}">deine Anmeldungsdaten</a> jederzeit <a href="{{(g.view_node / 'mensch' / g.user / 'edit').url}}">bearbeiten</a>. Einige Teile der Eventanmeldung sind noch in Arbeit (z.B. Bettwäsche-Börse). Wenn etwas Neues fertig ist, wirst du auf Discord angepingt.</p> {#TODO#}
        {% if g.user in event.menschen %}
            {% if event.guests | selectattr("via", "equalto", g.user) | length > 0 %}
                <h2>Gäste</h2>
                <ul>
                    {% for guest in event.guests | selectattr("via", "equalto", g.user) %}
                        {% if guest in event.signups %}
                            <li><a href="{{(g.view_node / 'mensch' / guest).url}}">{{guest}}</a>: Anmeldung bestätigt</li>
                        {% else %}
                            <li>{{guest}}: noch nicht angemeldet</li> {#TODO link to event/guest-confirm.html.j2 #}
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if event.guest_signup_block_reason is not none %}
                    {{event.guest_signup_block_reason | markdown}}
                {% elif g.user is admin or (event.end is not none and event.end > g.now) %}
                    <p><a href="{{(g.view_node / 'guest').url}}">Weiteren Gast anmelden</a></p>
                {% endif %}
            {% elif event.guest_signup_block_reason is not none %}
                {{event.guest_signup_block_reason | markdown}}
            {% elif g.user is admin or (event.end is not none and event.end > g.now) %}
                <p><a href="{{(g.view_node / 'guest').url}}">Gast anmelden</a></p>
            {% endif %}
        {% endif %}
    {% elif g.user.is_guest %}
        <p>Als Gast kannst du dich nicht selbst anmelden.</p>
    {% else %}
        {% if event.location is none %}
            <div class="alert alert-warning">
                <strong>Achtung:</strong> Das Haus für dieses event steht noch nicht fest. Je nachdem, wie viele Plätze es hat, kommst du auf die Warteliste. Wenn jemand absagt, rückt der erste Mensch auf der Warteliste nach.
                {% if event.anzahlung is none or event.anzahlung.value > 0 %}
                    Falls kein Platz für dich frei wird, bekommst du deine Anzahlung natürlich zurück.
                {% endif %}
            </div>
        {% elif 'capacity' in event.location.data and event.free() <= 0 %}
            <div class="alert alert-warning">
                <strong>Achtung:</strong> Das Haus ist zumindest zeitweise schon voll. Du kannst dich trotzdem anmelden und kommst dann auf die Warteliste. Wenn jemand absagt, rückt der erste Mensch auf der Warteliste nach. {#TODO check for free nights, adjust message accordingly #}
                {% if event.anzahlung is none or event.anzahlung.value > 0 %}
                    Falls kein Platz für dich frei wird, bekommst du deine Anzahlung natürlich zurück.
                {% endif %}
            </div>
        {% endif %}
        {% if event.signup_block_reason is not none %}
            {{event.signup_block_reason | markdown}}
        {% elif event.end is none %}
            <p>Der Termin für dieses event steht noch nicht fest.</p>
        {% elif event.end < g.now %}
            <p>Dieses event ist schon vorbei.</p>
        {% elif event.orga('Abrechnung') is none %}
            <p>Das Orga-Team ist noch nicht vollständig, wir suchen noch jemanden für die Abrechnung. Wenn du das übernehmen möchtest, melde dich bitte bei {{g.admin}}.</p>
        {% elif event.anzahlung is none %}
            <p>{{event.orga('Abrechnung')}} hat die Höhe der Anzahlung noch nicht eingetragen.</p>
        {% elif event.anzahlung.value == 0 %}
            {{gen_form(profile_form, g.view_node.url)}}
        {% elif event.orga('Abrechnung') is treasurer %}
            <p>Die Anmeldung ist mit einer Anzahlung von {{event.anzahlung}} verbunden, die von deinem Guthaben abgezogen wird.</p>
            {% if g.user is admin or g.user is treasurer or g.user.balance >= event.anzahlung %}
                {{gen_form(profile_form, g.view_node.url)}}
            {% else %}
                <p>Dein aktuelles Guthaben ist {{g.user.balance}}, es fehlen also noch {{event.anzahlung - g.user.balance}} für die Anzahlung. Auf <a href="{{g.user.profile_url}}">deiner Profilseite</a> steht, wie du Guthaben aufladen kannst.</p>
            {% endif %}
        {% else %}
            {% if 'konto' in event.attendee_data(event.orga('Abrechnung')) %}
                <p>Um dich anzumelden, überweise bitte die Anzahlung von {{event.anzahlung}} an:</p>
                <p>
                    {{event.attendee_data(event.orga('Abrechnung'))['konto']['name']}}<br />
                    IBAN: {{event.attendee_data(event.orga('Abrechnung'))['konto']['iban']}}<br />
                    BIC: {{event.attendee_data(event.orga('Abrechnung'))['konto']['bic']}}<br />
                    Verwendungszweck: Anzahlung {{event.event_id}} {{g.user.snowflake}}
                </p>
            {% else %}
                <p>Um dich anzumelden, gib bitte {{event.orga('Abrechnung')}} die Anzahlung von {{event.anzahlung}}.</p>
            {% endif %}
            <p>Details zu deiner Anmeldung kannst du eintragen, wenn die Anzahlung angekommen ist. Du wirst dazu auf Discord angepingt.</p> {#TODO reverse signup flow #}
        {% endif %}
    {% endif %}
    {% if g.user is admin or (g.user in event.menschen and event.attendee_data(g.user).get('orga', []) | length > 0) %}
        <h1 id="orga">Orga</h1>
        {% if g.user is admin or event.orga('Abrechnung') == g.user %}
            <h2>Abrechnung</h2>
            {% if event.orga('Abrechnung') is none %}
                <p>Dieses Event hat noch keine Abrechnungsorga.</p>
            {% elif event.orga('Abrechnung') is treasurer %}
                <p>Dieses Event läuft über das Guthabensystem.</p>
            {% elif 'konto' in event.attendee_data(event.orga('Abrechnung')) %}
                <p>Bitte überprüfe regelmäßig dein Konto {{event.attendee_data(g.user)['konto']['iban']}} auf Anzahlungen.</p>
                {{gen_form(confirm_signup_form, g.view_node.url)}}
            {% else %}
                <p>Um die Anmeldungen zu eröffnen, gib bitte {{g.admin}} deine Kontodaten.</p>
            {% endif %}
            {% if event.end is not none and event.end <= g.now %}
                <p>Abrechnungsübersicht coming soon™</p> {#TODO#}
            {% endif %}
        {% endif %}
        {% if g.user is admin or event.orga('Buchung') == g.user %}
            <h2>Buchung</h2>
            {% if event.ausfall > event.anzahlung_total %}
                {% if event.ausfall_date is none %}
                    <p>Wir können erst buchen, wenn die Ausfallgebühr von {{event.ausfall}} gesichert ist. Dazu fehlen noch {{event.ausfall - event.anzahlung_total}}, also {{((event.ausfall - event.anzahlung_total).value / event.anzahlung.value) | round(0, 'ceil') | int}} Anmeldungen.</p>
                {% else %}
                    <p>Bis zum {{event.ausfall_date | dmy(event.timezone)}} müssen wir die Ausfallgebühr von {{event.ausfall}} abdecken. Dazu fehlen noch {{event.ausfall - event.anzahlung_total}}, also {{((event.ausfall - event.anzahlung_total).value / event.anzahlung.value) | round(0, 'ceil') | int}} Anmeldungen.</p>
                {% endif %}
            {% else %}
                <p>Die Ausfallgebühr von {{event.ausfall}} ist jetzt durch die Anzahlungen abgedeckt. Das Haus kann also gebucht werden.</p>
            {% endif %}
        {% endif %}
        {% if g.user is admin or event.orga('Essen') == g.user %}
            <h2>Essen</h2>
            <p>Trage bitte jeweils als Programmpunktbeschreibung ein, was es an dem Abend gibt.</p>
            <ul>
                {% for date in event.nights %}
                    {% set date_info = event.essen(date) %}
                    <li>
                        <a href="{{url_for('event_programmpunkt', event=event.event_id, programmpunkt=date_info.url_part)}}">{{date | dm(event.timezone)}}</a>:
                        {% if date_info.description == '' %}
                            noch nicht eingetragen
                        {% else %}
                            {{date_info.description}}
                        {% endif %}
                        (Orga: {% if date_info.orga is none %}noch nicht eingetragen{% else %}{{date_info.orga}}{% endif %})
                        — <a href="{{url_for('event_programmpunkt_edit', event=event.event_id, programmpunkt='abendessen{:%Y-%m-%d}'.format(date))}}">bearbeiten</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if g.user is admin or event.orga('Programm') == g.user %}
            <h2>Programm</h2>
            <h3>Programmpunkt erstellen</h3>
            {{gen_form(programm_form, g.view_node.url)}}
        {% endif %}
        {% if g.user is admin or event.orga('Schlüssel') == g.user %}
            <h2>Schlüssel</h2>
            <p>Coming soon™</p> {#TODO#}
        {% endif %}
    {% endif %}
{% endblock %}
