{% extends "base.html" %}

{% block title %}{{person.__str__()}} bearbeiten — {{event.__str__()}}{% endblock %}

{% block page_content %}
    <h1>
        Profil für {{person}} auf {{event}}
        <a href="{{url_for('event_profile', event=event.event_id, person=person.snowflake)}}" class="btn btn-danger">Abbrechen</a>
    </h1>
    {% if event.can_edit(g.user, person) %}
        {{gen_form(event_attendee_edit_form, url_for('event_profile_edit', event=event.event_id, person=person.snowflake))}}
    {% else %}
        <p>Du bist nicht berechtigt, dieses Profil zu bearbeiten.</p>
    {% endif %}
{% endblock %}
