{% extends "base.html" %}

{% macro render_person() -%}
    {%- if person is guest -%}
        {{person}}
    {%- else -%}
        {{person | mention}}
    {%- endif -%}
{%- endmacro %}

{% block title %}{{person}} bearbeiten — {{event.__str__()}}{% endblock %}

{% block page_content %}
    <h1>
        Profil für {{render_person()}} auf {{event}}
        <a href="{{url_for('event_profile', event=event.event_id, person=person.snowflake)}}" class="btn btn-danger">Abbrechen</a>
    </h1>
    {% if event.can_edit(g.user, person) %}
        {{gen_form(event_attendee_edit_form, url_for('event_profile_edit', event=event.event_id, person=person.snowflake))}}
    {% else %}
        <p>Du bist nicht berechtigt, dieses Profil zu bearbeiten.</p>
    {% endif %}
{% endblock %}
