{% extends "base.html" %}

{% macro render_person() -%}
    {%- if person is guest -%}
        {{person}}
    {%- else -%}
        {{person | mention}}
    {%- endif -%}
{%- endmacro %}

{% block title %}{{person}} — {{event}}{% endblock %}

{% block page_content %}
    <h1>
        Profil für {{render_person()}} auf <a href="{{url_for('event_page', event=event.event_id)}}">{{event}}</a>
        {% if event.can_edit(g.user, person) %}<a href="{{url_for('event_profile_edit', event=event.event_id, person=person.snowflake)}}" class="btn btn-primary">Bearbeiten</a>{% endif %}
    </h1>
    {% if person in event.signups %}
        {% if person is guest %}
            <p>{{person}} ist Gast und wurde von {{person.via | mention}} angemeldet.</p>
        {% endif %}
        {% if event.attendee_data(person).get('orga', []) | length > 0 %}
            <p>{{render_person()}} ist im Orga-Team und organisiert {{event.attendee_data(person)['orga'] | natjoin}}.</p>
        {% endif %}
        <h2>Zeitraum</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    {% for night in event.nights %}
                        <th style="text-align: center;" colspan="2">{{night | dm}}</th>
                    {% endfor %}
                    <th style="text-align: center;" colspan="2">{{event.end | dm}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    {% for night in event.nights %}
                        {% set attending_night = event.attendee_data(person).get('nights', {}).get('{:%Y-%m-%d}'.format(night), 'maybe') %}
                        {% if attending_night == 'yes' %}
                            <td style="text-align: center;" colspan="2" class="success" title="{{night | dm}}–{{night | next_date | dm}}">
                                <span class="fa fa-check"></span>
                            </td>
                        {% elif attending_night == 'maybe' %}
                            <td style="text-align: center;" colspan="2" class="warning" title="{{night | dm}}–{{night | next_date | dm}}">
                                <span class="fa fa-question"></span>
                            </td>
                        {% elif attending_night == 'no' %}
                            <td style="text-align: center;" colspan="2" class="danger" title="{{night | dm}}–{{night | next_date | dm}}">
                                <span class="fa fa-times"></span>
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td></td>
                </tr>
            </tbody>
        </table>
        <h2>Programm</h2>
        <p>{{render_person()}} ist an folgenden Programmpunkten interessiert:</p>
        <ul>
            {% for programmpunkt in event.programm %}
                {% if person in programmpunkt.signups %}
                    <li><a href="{{url_for('event_programmpunkt', event=event.event_id, programmpunkt=programmpunkt.name)}}">{{programmpunkt}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>{{render_person()}} ist nicht für {{event}} angemeldet.</p>
    {% endif %}
{% endblock %}
