{% extends "base.html" %}

{% block title %}{{person.__str__()}} — {{event.__str__()}}{% endblock %}

{% block page_content %}
    <h1>
        Profil für {{person}} auf {{event}}
        {% if event.can_edit(g.user, person) %}<a href="{{url_for('event_profile_edit', event=event.event_id, person=person.snowflake)}}" class="btn btn-primary">Bearbeiten</a>{% endif %}
    </h1>
    {% if person in event.signups %}
        {% if person is guest %}
            <p>{{person}} ist Gast und wurde von {{person.via}} angemeldet.</p>
        {% endif %}
        {% if event.attendee_data(person).get('orga', []) | length > 0 %}
            <p>{{person}} ist im Orga-Team und organisiert {{event.attendee_data(person)['orga'] | natjoin}}.</p>
        {% endif %}
        <h2>Zeitraum</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    {% for night in event.nights %}
                        <th style="text-align: center;" colspan="2">{{night | dm}}</th>
                    {% endfor %}
                    <th style="text-align: center;" colspan="2">{{event.end | dm}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    {% for night in event.nights %}
                        {% set attending_night = event.attendee_data(person).get('nights', {}).get('{:%Y-%m-%d}'.format(night), 'maybe') %}
                        {% if attending_night == 'yes' %}
                            <td style="text-align: center;" colspan="2" class="success" title="{{night | dm}}–{{night | next_date | dm}}">
                                <span class="fa fa-check"></span>
                            </td>
                        {% elif attending_night == 'maybe' %}
                            <td style="text-align: center;" colspan="2" class="warning" title="{{night | dm}}–{{night | next_date | dm}}">
                                <span class="fa fa-question"></span>
                            </td>
                        {% elif attending_night == 'no' %}
                            <td style="text-align: center;" colspan="2" class="danger" title="{{night | dm}}–{{night | next_date | dm}}">
                                <span class="fa fa-times"></span>
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td></td>
                </tr>
            </tbody>
        </table>
        {% if g.user == event.orga('Essen') or event.can_edit(g.user, person) %}
            <h2>Essen</h2>
            <p>
                tierische Produkte:
                {% set animal_products = event.attendee_data(person).get('food', {}).get('animalProducts', 'yes') %}
                {% if animal_products == 'yes' %}
                    uneingeschränkt
                {% elif animal_products == 'vegetarian' %}
                    vegetarisch
                {% elif animal_products == 'vegan' %}
                    vegan
                {% else %}
                    (Fehler)
                {% endif %}
            </p>
            <p>
                {% set allergies = event.attendee_data(person).get('food', {}).get('allergies', '') %}
                Allergien/Unverträglichkeiten:
                {% if allergies %}
                    {{allergies}}
                {% else %}
                    keine
                {% endif %}
            </p>
        {% endif %}
        <h2>Programm</h2>
        <p>{{person}} ist an folgenden Programmpunkten interessiert:</p>
        <ul>
            {% for programmpunkt in event.programm %}
                {% if programmpunkt.listed and person in programmpunkt.signups %}
                    <li>{{programmpunkt}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>{{person}} ist nicht für {{event}} angemeldet.</p>
    {% endif %}
{% endblock %}
