{% extends "base.html.j2" %}

{% block title %}{{person.__str__()}} — {{event.__str__()}}{% endblock %}

{% block page_content %}
    <h1>
        Profil für {{person}} auf {{event}}
        {% if event.can_edit(g.user, person) %}<a href="{{url_for('event_profile_edit', event=event.event_id, person=person.snowflake)}}" class="btn btn-primary">Bearbeiten</a>{% endif %}
    </h1>
    {% if person in event.signups %}
        {% if person is guest %}
            <p>{{person}} ist Gast und wurde von {{person.via}} angemeldet.</p>
        {% endif %}
        {% if event.attendee_data(person).get('orga', []) | length > 0 %}
            <p>{{person}} ist im Orga-Team und organisiert {{event.attendee_data(person)['orga'] | natjoin}}.</p>
        {% endif %}
        <h2>Zeitraum</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th style="text-align: right;">Nacht</th>
                    <th>Status</th>
                    <th>seit</th>
                </tr>
            </thead>
            <tbody>
                {% for night in event.nights %}
                    <tr>
                        <td style="text-align: right;">{{night | dm}}–{{night | next_date | dm}}</td>
                        {% set attending_night = event.night_going(person, night) %}
                        {% if attending_night == 'yes' %}
                            <td class="success">
                                <span class="fa fa-fw fa-check"></span> Ja
                            </td>
                        {% elif attending_night == 'maybe' %}
                            {% if event.free(night) < 1 or (event.free(night) == 1 and event.night_maybes(night) | length > 1) %}
                                <td class="info">
                                    <span class="fa fa-fw fa-clock-o"></span> Warteliste
                                </td>
                            {% else %}
                                <td class="warning">
                                    <span class="fa fa-fw fa-question"></span> Vielleicht
                                </td>
                            {% endif %}
                        {% elif attending_night == 'no' %}
                            <td class="danger">
                                <span class="fa fa-fw fa-times"></span> Nein
                            </td>
                        {% endif %}
                        {% set status_change = event.night_status_change(person, night) %}
                        {% if status_change is none %}
                            <td class="warning"><i title="wurde nicht aufgezeichnet" class="fa fa-fw fa-question"></i></td>
                        {% else %}
                            <td>{{status_change | dmy_hms(event.timezone)}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if event.rooms %}
            <h2>Zimmer</h2>
            {% if event.rooms.get(person) %}
                <p>{{event.rooms.get(person).description}}</p>
            {% else %}
                <p>Noch nicht ausgewählt.</p>
            {% endif %}
        {% endif %}
        {% for travel in ['Anreise', 'Abreise'] %}
            <h2>{{travel}}</h2>
            {% set travel_data = event.attendee_data(person).get(travel | lower, {}) %}
            {% if travel_data.get('ok', false) %}
                <p>{{person}} ist schon {% if travel == 'Anreise' %}angekommen{% else %}abgereist{% endif %}.</p>
            {% else %}
                {#TODO „als angekommen/abgereist markieren“ button #}
            {% endif %}
            {% if travel_data.get('type') is none %}
                <p>Noch nicht eingetragen.</p>
            {% elif travel_data['type'] == 'car' %}
                {% if 'start' in travel_data %}
                    <p>
                        Mit dem Auto
                        {% if travel_data.get('end', travel_data['start']) == travel_data['start'] %}
                            um {{travel_data['start'] | hm(event.timezone)}}
                        {%- else %}
                            zwischen {{travel_data['start'] | hm(event.timezone)}} und {{travel_data['end'] | hm(event.timezone)}}
                        {%- endif -%}
                        .
                    </p>
                {% else %}
                    <p>Mit dem Auto (Zeit noch nicht eingetragen).</p>
                {% endif %}
            {% elif travel_data['type'] == 'public' %}
                {% if travel_data.get('legs', []) | length > 0 %}
                    <ul>
                        {% for leg in travel_data['legs'] %}
                            {% if loop.first and 'from' in leg %}
                                <li>Ab {{leg['from']}}</li>
                            {% endif %}
                            <li>
                                {#TODO Verspätung #}
                                {{leg.get('trainID', 'Bus/Bahn')}}{% if 'to' in leg %} bis {{leg['to']}}{% endif -%}
                                {%- if 'departure' in leg -%}
                                    , Abfahrt {{leg['departure'] | hm(event.timezone)}}
                                {%- endif -%}
                                {%- if 'arrival' in leg -%}
                                    , Ankunft {{leg['arrival'] | hm(event.timezone)}}
                                {%- endif -%}
                                {%- if 'coach' in leg -%}
                                    , Wagen {{leg['coach']}}
                                {%- endif -%}
                                {%- if 'seat' in leg -%}
                                    , Platz {{leg['seat']}}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Mit Bus & Bahn (Details noch nicht eingetragen).</p>
                {% endif %}
            {% elif travel_data['type'] == 'with' %}
                <p>Mit {{event.travel_with(person, travel | lower)}}.</p>
            {% elif travel_data['type'] == 'other' %}
                <p>
                    {% if travel_data.get('note', '') %}
                        {{travel_data['note']}}
                    {% else %}
                        Sonstige.
                    {% endif %}
                </p>
            {% else %}
                <div class="alert alert-danger">Unbekannte {{travel}}art: {{travel_data['type']}}</div>
            {% endif %}
        {% endfor %}
        {% if person == g.user or (person.is_guest and person.via == g.user) or event.can_edit(g.user, person) %}
            <h2>Essen</h2>
            {% if event.attendee_data(person).get('selbstversorger', False) %}
                <p>Selbstversorger</p>
            {% else %}
                <p>
                    tierische Produkte:
                    {% set animal_products = event.attendee_data(person).get('food', {}).get('animalProducts', 'yes') %}
                    {% if animal_products == 'yes' %}
                        uneingeschränkt
                    {% elif animal_products == 'vegetarian' %}
                        vegetarisch
                    {% elif animal_products == 'vegan' %}
                        vegan
                    {% else %}
                        (Fehler)
                    {% endif %}
                </p>
                <p>
                    {% set allergies = event.attendee_data(person).get('food', {}).get('allergies', '') %}
                    Allergien/Unverträglichkeiten:
                    {% if allergies %}
                        {{allergies}}
                    {% else %}
                        keine
                    {% endif %}
                </p>
            {% endif %}
        {% endif %}
        <h2>Programm</h2>
        <p>{{person}} ist an folgenden Programmpunkten interessiert:</p>
        <ul>
            {% for programmpunkt in event.programm %}
                {% if programmpunkt.listed and person in programmpunkt.signups %}
                    <li>{{programmpunkt}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if event.end > g.now and event.can_edit(g.user, person) and event.location.hausordnung is not none and not event.attendee_data(person).get('hausordnung', False) and person is not guest %}
            <h2>Anmeldung</h2>
            {% if g.user == person %}
                <p><strong>Wichtig:</strong> Bitte lies dir noch die <a href="{{event.location.hausordnung}}">Hausordnung</a> durch. <a href="{{url_for('event_profile_edit', event=event.event_id, person=person.snowflake)}}">Bearbeite</a> dann dein Profil um deine Anmeldung zu bestätigen.</p>
            {% else %}
                <p><strong>Wichtig:</strong> {{person}} hat die Hausordnung noch nicht zur Kenntnis genommen.</p>
            {% endif %}
        {% endif %}
        {% if event.end <= g.now %}
            <h2>Abrechnung</h2>
            {#
            {% if person.is_guest %}
                <p>Siehe <a href="{{url_for('event_profile', event=event.event_id, person=person.via.snowflake)}}">Eventprofil</a> für {{person.via}}.</p>
            {% else %}
                <p>Die folgenden Angaben sind vorläufig und können sich noch ändern.</p>
                {% set transaction = event.transaction(person) %}
                <p>{{transaction.amount}}{{transaction.details}}</p>
            {% endif %}
            #}
            <p>Coming soon™</p> {#TODO#}
        {% endif %}
    {% else %}
        <p>{{person}} ist nicht für {{event}} angemeldet.</p>
    {% endif %}
{% endblock %}
