{% extends "base.html" %}

{% block title %}{{programmpunkt.__str__()}} — {{event.__str__()}}{% endblock %}

{% block page_content %}
    <h1>
        Programmpunkt „{{programmpunkt.__str__()}}“ auf {{event}}
        {% if programmpunkt.can_edit(g.user) %}<a href="{{(g.view_node / 'edit').url}}" class="btn btn-primary">Bearbeiten</a>{% endif %}
        {% if g.user == event.orga('Programm') %}<a href="{{(g.view_node / 'delete').url}}" class="btn btn-danger">Löschen</a>{% endif %}
    </h1>
    {% if programmpunkt.start is none %}
        <p>Beginn: noch nicht eingetragen</p>
    {% else %}
        <p>Beginn: {{programmpunkt.start | dmy_hm(event.timezone)}}</p>
        {% if programmpunkt.end is none %}
            <p>Ende: noch nicht eingetragen</p>
        {% else %}
            <p>Ende: ca. {{programmpunkt.end | dmy_hm(event.timezone)}}</p>
        {% endif %}
    {% endif %}
    {% if programmpunkt.orga is none %}
        <p>Dieser Programmpunkt hat noch keine Orga. Bitte melde dich bei {{event.orga(programmpunkt.orga_role)}} wenn du diesen Programmpunkt organisieren möchtest.</p>
    {% else %}
        <p>Dieser Programmpunkt wird von {{programmpunkt.orga}} organisiert.</p>
    {% endif %}
    {% if challonge_url is not none %}
        <p><a href="{{challonge_url}}">Bracket und Ergebnisse</a></p>
    {% endif %}
    <h2>Beschreibung</h2>
    {{programmpunkt.description | markdown}}
    {% if programmpunkt.orga_notes is not none and (g.user.is_admin or g.user == event.orga(programmpunkt.orga_role) or g.user == programmpunkt.orga) %}
        <h2>Info für die Orga</h2>
        {{programmpunkt.orga_notes}}
    {% endif %}
    {% if programmpunkt.user_notes(g.user) is not none %}
        <h2>Persönliche Info</h2>
        {{programmpunkt.user_notes(g.user)}}
    {% endif %}
    {% if programmpunkt.listed %}
        <h2>{{programmpunkt.strings.signups_header}}</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th rowspan="2">#</th>
                    <th rowspan="2">Name</th>
                    <th colspan="{{(event.nights | length) * 2 + 2}}">Zeitraum</th>
                    <th rowspan="2">Details</th>
                </tr>
                <tr>
                    {% for night in event.nights %}
                        <th style="text-align: center;" colspan="2">{{night | dm}}</th>
                    {% endfor %}
                    <th style="text-align: center;" colspan="2">{{event.end.date() | dm}}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    {% for night in event.nights %}
                        <th style="text-align: center;" colspan="2"><span class="text-success">{{programmpunkt.signups | select('in', event.night_signups(night)) | length}}</span>+
                        {%- if event.free(night) < 1 or (event.free(night) == 1 and event.night_maybes(night) | length > 1) -%}
                            <span class="text-info">{{programmpunkt.signups | select('in', event.night_maybes(night)) | length}}</span></th>
                        {% else -%}
                            <span class="text-warning">{{programmpunkt.signups | select('in', event.night_maybes(night)) | length}}</span></th>
                        {% endif %}
                    {% endfor %}
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                {% for person in programmpunkt.signups %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{person}}</td>
                        <td></td>
                        {% for night in event.nights %}
                            {% set attending_night = event.night_going(person, night) %}
                            {% if attending_night == 'yes' %}
                                <td style="text-align: center;" colspan="2" class="success" title="{{night | dm}}–{{night | next_date | dm}}">
                                    <span class="fa fa-fw fa-check"></span>
                                </td>
                            {% elif attending_night == 'maybe' %}
                                {% if event.free(night) < 1 or (event.free(night) == 1 and event.night_maybes(night) | length > 1) %}
                                    <td style="text-align: center;" colspan="2" class="info" title="{{night | dm}}–{{night | next_date | dm}}">
                                        <span class="fa fa-fw fa-clock-o"></span>
                                    </td>
                                {% else %}
                                    <td style="text-align: center;" colspan="2" class="warning" title="{{night | dm}}–{{night | next_date | dm}}">
                                        <span class="fa fa-fw fa-question"></span>
                                    </td>
                                {% endif %}
                            {% elif attending_night == 'no' %}
                                <td style="text-align: center;" colspan="2" class="danger" title="{{night | dm}}–{{night | next_date | dm}}">
                                    <span class="fa fa-fw fa-times"></span>
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td></td>
                        <td>
                            <a href="{{url_for('event_profile', event=event.event_id, person=person.snowflake)}}"><span class="fa fa-fw fa-eye"></span></a>
                            {% if event.can_edit(g.user, person) %}
                                <a href="{{url_for('event_profile_edit', event=event.event_id, person=person.snowflake)}}"><span class="fa fa-fw fa-edit"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if programmpunkt_form is not none %}
        <h2>{{programmpunkt.strings.signup_form_header}}</h2>
        {{gen_form(programmpunkt_form, g.view_node.url)}}
    {% endif %}
{% endblock %}
