{% extends "base.html" %}

{% macro render_person(person) -%}
    {%- if person is guest -%}
        {{person}}
    {%- else -%}
        {{person | mention}}
    {%- endif -%}
{%- endmacro %}

{% block title %}{{programmpunkt}} — {{event}}{% endblock %}

{% block page_content %}
    <h1>
        Programmpunkt „{{programmpunkt}}“ auf <a href="{{url_for('event_page', event_id=event.event_id)}}">{{event}}</a>
        {% if programmpunkt.can_edit(g.user) %}<a href="{{url_for('event_programmpunkt_edit', event_id=event.event_id, name=programmpunkt.name)}}" class="btn btn-primary">Bearbeiten</a>{% endif %}
        {% if g.user == event.orga('Programm') %}<a href="{{url_for('event_programmpunkt_delete', event_id=event.event_id, name=programmpunkt.name)}}" class="btn btn-danger">Löschen</a>{% endif %}
    </h1>
    {% if programmpunkt.orga is none %}
        <p>Dieser Programmpunkt hat noch keine Orga.</p>
    {% else %}
        <p>Dieser Programmpunkt wird von {{programmpunkt.orga | mention}} organisiert.</p>
    {% endif %}
    <h2>Beschreibung</h2>
    {{programmpunkt.description | markdown}}
    {% if programmpunkt.listed %}
        <h2>{{programmpunkt.data.get('signupHeader', 'Interessiert')}}</h2>
        <ul>
            {% for person in programmpunkt.signups %}
                <li>{{render_person(person)}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if programmpunkt_form is not none %}
        {{gen_form(programmpunkt_form(g.user), url_for('event_programmpunkt', event_id=event.event_id, name=programmpunkt.name))}}
    {% endif %}
{% endblock %}
