{% extends "base.html" %}

{% block title %}{{programmpunkt}} — {{event.__str__()}}{% endblock %}

{% block page_content %}
    <h1>
        Programmpunkt „{{programmpunkt}}“ auf {{event}}
        {% if programmpunkt.can_edit(g.user) %}<a href="{{(g.view_node / 'edit').url}}" class="btn btn-primary">Bearbeiten</a>{% endif %}
        {% if g.user == event.orga('Programm') %}<a href="{{(g.view_node / 'delete').url}}" class="btn btn-danger">Löschen</a>{% endif %}
    </h1>
    {% if programmpunkt.orga is none %}
        <p>Dieser Programmpunkt hat noch keine Orga.</p>
    {% else %}
        <p>Dieser Programmpunkt wird von {{programmpunkt.orga}} organisiert.</p>
    {% endif %}
    <h2>Beschreibung</h2>
    {{programmpunkt.description | markdown}}
    {% if programmpunkt.orga_notes is not none and (g.user.is_admin or g.user == event.orga(programmpunkt.orga_role) or g.user == programmpunkt.orga) %}
        <h2>Info für die Orga</h2>
        {{programmpunkt.orga_notes}}
    {% endif %}
    {% if programmpunkt.listed %}
        <h2>{{programmpunkt.data.get('signupHeader', 'Interessiert')}}</h2>
        <ul>
            {% for person in programmpunkt.signups %}
                <li>{{person}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if programmpunkt_form is not none %}
        {{gen_form(programmpunkt_form, g.view_node.url)}}
    {% endif %}
{% endblock %}
