{% extends "base.html" %}

{% block title %}Programm — {{event.__str__()}}{% endblock %}

{% block page_content %}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th></th>
                {% for night in event.nights %}
                    <th>{{night | dm(event.timezone) }}</th>
                {% endfor %}
                <th>{{event.end | dm(event.timezone) }}</th>
            </tr>
        </thead>
        <tbody>
            {% for hour in range(snip_start) %}
                <tr>
                    <th>{{'{:02}'.format(hour)}}:00</th>
                    {% for night in event.nights %}
                        {{table[night][hour]}}
                    {% endfor %}
                    {{table[event.end.date()][hour]}}
                </tr>
            {% endfor %}
            {% if snip_start < 6 or snip_end > 6 %}
                <tr>
                    <td style="text-align: center; font-style: italic;" colspan="{{(event.nights | length) + 2}}">(noch) kein Programm zwischen {{'{:02}'.format(snip_start)}}:00 und {{'{:02}'.format(snip_end)}}:00</th>
                </tr>
            {% endif %}
            {% for hour in range(snip_end, 24) %}
                <tr>
                    <th>{{'{:02}'.format(hour)}}:00</th>
                    {% for night in event.nights %}
                        {{table[night][hour]}}
                    {% endfor %}
                    {{table[event.end.date()][hour]}}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% set listed_programm = event.programm | selectattr('listed') | list %}
    <p>Aktuell {% if listed_programm | length > 1 %}sind{% else %}ist{% endif %} {{listed_programm | length}} Programmpunkt{% if listed_programm | length > 1 %}e{% endif %} für {{event}} geplant:</p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Titel</th>
                <th>von</th>
                <th>bis ca.</th>
                <th>Orga</th>
                <th style="text-align: right;">Interessenten</th>
            </tr>
        </thead>
        <tbody>
            {% for programmpunkt in listed_programm %}
                <tr>
                    <td>{{programmpunkt}}</td>
                    <td>{% if programmpunkt.start is not none %}{{programmpunkt.start | dmy_hm(event.timezone)}}{% endif %}</td>
                    <td>{% if programmpunkt.end is not none and programmpunkt.end < (programmpunkt.start | next_date) %}{{programmpunkt.end | hm(event.timezone)}}{% endif %}</td>
                    <td>
                        {% if programmpunkt.orga is none %}
                            Orga gesucht
                        {% else %}
                            {{programmpunkt.orga}}
                        {% endif %}
                    </td>
                    <td style="text-align: right;">{{programmpunkt.signups | length}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
