{% extends "base.html" %}

{% block title %}Programm — {{event}}{% endblock %}

{% block page_content %}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th></th>
                {% for night in event.nights %}
                    <th>{{night | dm }}</th>
                {% endfor %}
                <th>{{event.end | dm }}</th>
            </tr>
        </thead>
        <tbody>
            {% for hour in range(24) %}
                <tr>
                    <th>{{hour}}:00</th>
                    {% for night in event.nights %}
                        {{table[night][hour]}}
                    {% endfor %}
                    {{table[event.end.date()][hour]}}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% set listed_programm = event.programm | selectattr('listed') | list %}
    <p>Aktuell {% if listed_programm | length > 1 %}sind{% else %}ist{% endif %} {{listed_programm | length}} Programmpunkt{% if listed_programm | length > 1 %}e{% endif %} für {{event}} geplant:</p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Orga</th>
            </tr>
        </thead>
        <tbody>
            {% for programmpunkt in listed_programm %}
                <tr>
                    <td><a href="{{(g.view_node / programmpunkt).url}}">{{programmpunkt}}</a></td>
                    <td>
                        {% if programmpunkt.orga is none %}
                            noch nicht eingetragen
                        {% else %}
                            {{programmpunkt.orga | mention}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
