upstream _gefolge {
    server unix:/run/uwsgi/app/gefolge/socket;
}

server {
    server_name ~^(gefolge\.org|gefolge\.(dev\.)?(mercredi\.)?fenhl\.net)$;

    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/gefolge.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/gefolge.org/privkey.pem;

    location / {
        add_header Access-Control-Allow-Origin *;
        include uwsgi_params;
        uwsgi_pass _gefolge;
    }
}
