server {
    server_name www.gefolge.org;

    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/inwx/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/inwx/privkey.pem;

    return 301 $scheme://gefolge.org$request_uri;
}
