{% extends "base.html.j2" %}

{% block title %}Fehler — Das Gefolge{% endblock %}

{% block nav %}
    <div class="row">
        <div class="col-12 col-md-9">
            <nav>
                <span><a href="{{url_for('index')}}"><img src="{{url_for('.static', filename='gefolge.png')}}" style="height: 32px;" /></a></span>
                <span>Fehler</span>
            </nav>
        </div>
        {% include 'login-status.html.j2' %}
    </div>
{% endblock %}

{% block page_content %}
    <h1>Fehler 403: Forbidden</h1>
    <p>Du darfst auf diese Seite nicht zugreifen. Das kann z.B. daran liegen, dass sie nur für Admins gedacht ist. Falls du meinst, dass du Zugriff haben solltest, sprich es bitte im <a href="https://discord.com/channels/355761290809180170/397832322432499712">#dev</a> an.</p>
    <nav><a href="/">Zurück zur Hauptseite von gefolge.org</a></nav>
{% endblock %}
