{% extends 'base.html.j2' %}

{% block title %}{% if article_namespace == 'wiki' %}{{article_name}}{% else %}{{article_namespace}}/{{article_name}}{% endif %} — {{wiki_name}}{% endblock %}

{% block page_content %}
    <h1>
        {% if namespace == 'wiki' %}{{title}}{% else %}{{namespace}}/{{title}}{% endif %} — {{wiki_name}}
        <a href="{{url_for('wiki_article_edit', title=title, namespace=namespace)}}" class="btn btn-primary">Bearbeiten</a>
    </h1>
    {{ article_source | markdown }}
{% endblock %}
