{% extends 'base.html.j2' %}

{% block title %}bearbeiten — {% if article_namespace == 'wiki' %}{{article_name}}{% else %}{{article_namespace}}/{{article_name}}{% endif %} — GefolgeWiki{% endblock %}

{% block page_content %}
    <h1>
        Wiki-Artikel „{% if article_namespace == 'wiki' %}{{article_name}}{% else %}{{article_namespace}}/{{article_name}}{% endif %}“ {% if exists %}bearbeiten{% else %}erstellen{% endif %}
        <a href="{{g.view_node.parent.url}}" class="btn btn-danger">Abbrechen</a>
    </h1>
    {{gen_form(wiki_edit_form, g.view_node.url)}}
{% endblock %}
