{% extends 'base.html.j2' %}

{% block title %}{{wiki_name}}{% endblock %}

{% block page_content %}
    <h1>{{wiki_name}}</h1>
    {% for namespace, articles in g.wiki.namespaces() %}
        <h2>{{namespace}}</h2>
        <ul>
            {% for article in articles %}
                <li><a href="{{(g.view_node / article / namespace).url}}">{{article}}</a></li>
            {% else %}
                <li>(Dieser namespace ist leer.)</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>In diesem wiki sind noch keine Artikel.</p>
    {% endfor %}
{% endblock %}
