@media (prefers-color-scheme: dark) {
    body,
    .form-control {
        background-color: black;
        color: #bbb;
    }

    img[src="/static/gefolge.png"] {
        filter: invert(1);
    }

    a:focus, a:hover {
        color: #43a2f2;
    }

    blockquote {
        border-left: 5px solid #444;
    }

    code {
        color: #f9f2f4;
        background-color: #c7254e;
    }

    .alert-danger,
    .table > tbody > tr > td.danger {
        background-color: #a94442;
    }

    .alert-danger,
    .text-danger {
        color: #f2dede;
    }

    .alert-danger {
        border-color: #b0564e;
    }

    .alert-info,
    .table > tbody > tr > td.info {
        background-color: #31708f;
    }

    .alert-info,
    .text-info {
        color: #d9edf7;
    }

    .alert-info {
        border-color: #4e7495;
    }

    .alert-success,
    .table > tbody > tr > td.success {
        background-color: #3c763d;
    }

    .alert-success,
    .text-success {
        color: #dff0d8;
    }

    .alert-success {
        border-color: #457d4f;
    }

    .alert-warning,
    .table > tbody > tr > td.warning {
        background-color: #8a6d3b;
    }

    .alert-warning,
    .text-warning {
        color: #fcf8e3;
    }

    .alert-warning {
        border-color: #8c8352;
    }

    .spoiler:not(:hover), .spoiler:not(:hover) *, .censor, .censor * {
        background: #bbb;
        color: #bbb;
    }

    /* Markdown form fields */
    .flask-pagedown-input {
        background: url("/static/markdown-mark-white.png") no-repeat calc(100% - 5px) 5px;
    }

    /* event Programm table */
    .table > tbody > tr > td.programm-meta {
        background-color: #5b0f00;
    }

    .table > tbody > tr > td.programm-essen {
        background-color: #0c343d;
    }

    .table > tbody > tr > td.programm-trip {
        background-color: #1c4587;
    }

    .table > tbody > tr > td.programm-reqsignup {
        background-color: #783f04;
    }

    .table > tbody > tr > td.programm-other {
        background-color: #7f6000;
    }
}
