{% extends "base.html.j2" %}

{% macro view_func_node_map(node) %}
    <ul>
        {% if node.children_are_static %}
            {% set children = node.children.values() %}
        {% else %}
            {% set children = [node.children] %}
        {% endif %}
        {% for child_node in children %}
            <li>
                {{child_node}}
                {% if child_node.view.__doc__ is not none %}
                    — {{(child_node.view.__doc__ | markdown)[3:-4]}} {#HACK to avoid paragraph break between endpoint name and docs #}
                {% endif %}
                {{view_func_node_map(child_node)}}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block title %}gefolge.org API{% endblock %}

{% block page_content %}
    <p>Die <strong>gefolge.org API</strong> ist ein Teil der website, der für Nutzung mit apps, die kein web browser sind, gedacht ist. Mit deinem API key kannst du die API auch ohne Anmeldung über Discord verwenden. Falls du nach Anmeldedaten gefragt wirst, verwende <code>api</code> als Benutzername und deinen API key als Passwort.</p>
    <p>Dein API key: <code class="spoiler">{{g.user.api_key}}</code></p>
    <p>Falls dein API key in falsche Hände gerät, kannst du jederzeit einen <a class="btn btn-primary" href="{{url_for('reset_api_key', person=g.user.snowflake)}}">neuen API key generieren</a>. Du musst dich dann überall, wo du dich mit dem alten API key angemeldet hast, mit dem neuen anmelden.</p>
    <h1>Endpoints</h1>
    <ul>
        {% for node in g.view_node.children recursive %}
            <li>
                <a href="{{node.url}}">{{node}}</a>
                {% if node.view.__doc__ is not none %}
                    — {{(node.view.__doc__ | markdown)[3:-4]}} {#HACK to avoid paragraph break between endpoint name and docs #}
                {% endif %}
                {% if node.children_are_static %}
                    {% if node.children | length > 0 %}
                        <ul>{{loop(node.children)}}</ul>
                    {% endif %}
                {% else %}
                    {{view_func_node_map(node.view_func_node)}}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
