{% extends "bootstrap/base.html" %}

{% block metas %}
    <meta charset="utf-8" />
    <meta name="description" content="Das Gefolge" />
    <meta name="author" content="Fenhl & contributors" />
    {{ super() }}
{% endblock %}

{% block title %}Das Gefolge{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
    <link rel="stylesheet" href="{{url_for('.static', filename='common.css')}}" />
{% endblock %}

{% block navbar %}
    <nav>
        <span><a class="nolink" href="{{url_for('index')}}"><img src="{{url_for('.static', filename='gefolge.png')}}" style="height: 32px;" /></a></span>
        {% if g.path is none %}
            <span> / </span>
        {% else %}
            {% for path_component in g.path %}
                {% if loop.index == loop.length %}
                    <span> / {{path_component.name}}</span>
                {% else %}
                    <span> / <a href="{{path_component.url}}">{{path_component.name}}</a></span>
                {% endif %}
            {% endfor %}
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="container" {% block container_attrs %}{% endblock %}>
        {% block flashes %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        {% endblock %}
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}
