{% from 'macros.html' import gen_form %}
{% extends "bootstrap/base.html" %}

{% block metas %}
    <meta charset="utf-8" />
    <meta name="description" content="Das Gefolge" />
    <meta name="author" content="Fenhl & contributors" />
    {{ super() }}
{% endblock %}

{% block title %}Das Gefolge{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
    <link rel="stylesheet" href="{{url_for('.static', filename='common.css')}}" />
    <style>
        .btn-group-toggle .btn + .btn {
            margin-left: 0;
        }

        .btn-group-toggle .btn-success {
            background-color: white;
            border-color: #449d44;
            color: #449d44;
        }

        .btn-group-toggle .btn-success.active {
            background-color: #449d44;
            border-color: #449d44;
            color: white;
        }

        .btn-group-toggle .btn-warning {
            background-color: white;
            border-color: #d58512;
            color: #d58512;
        }

        .btn-group-toggle .btn-warning.active {
            background-color: #d58512;
            border-color: #d58512;
            color: white;
        }

        .btn-group-toggle .btn-danger {
            background-color: white;
            border-color: #ac2925;
            color: #ac2925;
        }

        .btn-group-toggle .btn-danger.active {
            background-color: #ac2925;
            border-color: #ac2925;
            color: white;
        }
    </style>
{% endblock %}

{% block navbar %}
    <nav>
        <span><a class="nolink" href="{{url_for('index')}}"><img src="{{url_for('.static', filename='gefolge.png')}}" style="height: 32px;" /></a></span>
        {% if g.path is none %}
            <span> / </span>
        {% else %}
            {% for path_component in g.path.components %}
                {% if loop.index == loop.length %}
                    <span> / {{path_component.name}}</span>
                {% else %}
                    <span> / <a href="{{path_component.url}}">{{path_component.name}}</a></span>
                {% endif %}
            {% endfor %}
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="container" {% block container_attrs %}{% endblock %}>
        {% if not g.reboot_timestamp is none %}
            <div class="alert alert-warning">
                gefolge.org wird
                {% if g.reboot_upgrade %}
                    ab {% if g.reboot_timestamp.date() == g.now.date() %}heute ({{g.reboot_timestamp | dmy}}){% else %}{{g.reboot_timestamp | dmy}}{% endif %} {{g.reboot_timestamp | hm}} Uhr über einen längeren Zeitraum zeitweise nicht erreichbar sein. Bitte ab sofort bis diese Nachricht gelöscht wird
                {% else %}
                    {% if g.reboot_timestamp.date() == g.reboot_end_time.date() %}
                        {% if g.reboot_timestamp.date() == g.now.date() %}heute ({{g.reboot_timestamp | dmy}}){% else %}am {{g.reboot_timestamp | dmy}}{% endif %} zwischen {{g.reboot_timestamp | hm}} Uhr und {{g.reboot_end_time | hm}} Uhr
                    {% else %}
                        zwischen {{g.reboot_timestamp | dmy_hm}} Uhr und {{g.reboot_end_time | dmy_hm}} Uhr
                    {% endif %}
                    zeitweise nicht erreichbar sein. In diesem Zeitraum bitte
                {% endif %}
                nichts bearbeiten, sonst können Daten verloren gehen.
            </div>
        {% endif %}
        {% block flashes %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        {% endblock %}
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}
