{% extends "base.html" %}

{% block page_content %}
    <p>{{event_data['name'].value()}} findet von {{event_data['start'].value()}} bis {{event_data['end'].value()}} {{event_data['location'].value()}} statt.</p>
    <h1>Anmeldung</h1>
    {% if event_data['anzahlung'].value() is none %}
        <p>Coming soon™</p>
    {% else %}
        <p>Um dich anzumelden, überweise bitte die Anzahlungsgebühr von {{event_data['anzahlung'].value()}}€ an:</p>
        <p>{{event_data['konto'].value()}}</p>
        {% if event_data['ausfall'].value() > (event_data['menschen'] | length) * event_data['anzahlung'].value() %}
            <p>Wichtig: wir können erst buchen, wenn die Ausfallgebühr von {{event_data['ausfall'].value()}}€ gesichert ist. Dazu fehlen noch {{event_data['ausfall'].value() / event_data['anzahlung'].value() - (event_data['menschen'] | length) | round(method='ceil')}} Anmeldungen.</p>
        {% endif %}
    {% endif %}
{% endblock %}
