{% extends "base.html" %}

{% block title %}{{programmpunkt}} bearbeiten — {{event}}{% endblock %}

{% block page_content %}
    <h1>Programmpunkt „{{programmpunkt}}“ auf <a href="{{url_for('event_page', event_id=event.event_id)}}">{{event}}</a> <a href="{{url_for('event_programmpunkt', event_id=event.event_id, name=programmpunkt.name)}}" class="btn btn-danger">Abbrechen</a></h1>
    {% if programmpunkt.can_edit(g.user) %}
        {{gen_form(programm_edit_form, 'edit-programmpunkt', 'Speichern', url_for('event_programmpunkt_edit', event_id=event.event_id, name=programmpunkt.name))}}
    {% else %}
        <p>Du bist nicht berechtigt, diesen Programmpunkt zu bearbeiten.</p>
    {% endif %}
{% endblock %}
