{% extends "base.html" %}

{% block page_content %}
    <p><strong>{{event.name}}</strong> findet vom {{event.start_str}} bis zum {{event.end_str}} {{event.data['location'].value()}} statt.</p>
    <h1>Anmeldung</h1>
    {% if event.anzahlung is none %}
        <p>Coming soon™</p>
    {% else %}
        <p>Um dich anzumelden, überweise bitte die Anzahlungsgebühr von {{event.anzahlung}} an:</p>
        <p>{{event.data['konto'].value() | nl2br}}</p>
        {% if event.ausfall.value > (event.data['menschen'] | length) * event.anzahlung.value %}
            <p>Wichtig: wir können erst buchen, wenn die Ausfallgebühr von {{event.ausfall.value}} gesichert ist. Dazu fehlen noch {{(event.ausfall.value / event.anzahlung.value - (event.data['menschen'] | length)) | round(0, 'ceil') | int}} Anmeldungen.</p>
        {% endif %}
    {% endif %}
{% endblock %}
