{% extends "base.html" %}

{% block title %}{{programmpunkt}} — {{event}}{% endblock %}

{% block page_content %}
    <h1>Programmpunkt „{{programmpunkt}}“ auf <a href="{{url_for('event_page', event_id=event.event_id)}}">{{event}}</a> {#{% if programmpunkt.can_edit(g.user) %}<a href="{{url_for('event_programmpunkt_edit', event_id=event.event_id, name=programmpunkt.name)}}" class="btn btn-primary">Bearbeiten</a>{% endif %}#}</h1> {#TODO enable edit button once edit page exists #}
    <p>Dieser Programmpunkt wird von {{programmpunkt.orga | mention}} organisiert. Beschreibung:</p>
    {{programmpunkt.data['description'].value() | markdown}}
{% endblock %}
