{% extends "base.html" %}

{% macro render_person() -%}
    {%- if person is guest -%}
        {{person}}
    {%- else -%}
        {{person | mention}}
    {%- endif -%}
{%- endmacro %}

{% block title %}{{person}} bearbeiten — {{event}}{% endblock %}

{% block page_content %}
    <h1>Profil für {{render_person()}} auf <a href="{{url_for('event_page', event_id=event.event_id)}}">{{event}}</a></h1>
    {{gen_form(event_attendee_edit_form, 'edit-event-attendee', 'Speichern', url_for('event_profile_edit', event_id=event.event_id, snowflake=person.snowflake))}}
{% endblock %}
