{% extends "base.html" %}

{% block title %}Gast anmelden — {{event}}{% endblock %}

{% block page_content %}
    <p>Hier kannst du Gäste für <a href="{{url_for('event_page', event_id=event.event_id)}}">{{event}}</a> anmelden.</p>
    {% if 'capacity' in event.location.data and (event.signups | length) >= event.location.data['capacity'].value() %}
        <div class="alert alert-warning">
            <strong>Achtung:</strong> Das Haus ist schon voll. Du kannst den Gast trotzdem anmelden. Er kommt dann auf die Warteliste. Wenn jemand absagt, rückt der erste Mensch auf der Warteliste nach.
            {% if event.anzahlung is not none %}
                Falls kein Platz frei wird, bekommt der Gast die Anzahlung natürlich zurück.
            {% endif %}
        </div>
    {% endif %}
    {% if event.anzahlung is none %}
        <p>Coming soon™</p> {#TODO#}
    {% elif g.user in event.menschen %}
        <p>Beachte vorher bitte Folgendes:</p>
        <ul>
            <li>Die Anmeldung gilt erst mit Überweisung der Anzahlung.</li>
            <li>Du bist dafür verantwortlich, die Anmeldedaten für den Gast aktuell zu halten und ihn über wichtige Dinge, die im #silvester besprochen werden, zu informieren.</li>
            {% if event.ausfall.value > (event.signups | length) * event.anzahlung.value %}
                <li>Wir können erst buchen, wenn die Ausfallgebühr von {{event.ausfall}} gesichert ist. Dazu fehlen noch {{(event.ausfall.value / event.anzahlung.value - (event.signups | length)) | round(0, 'ceil') | int}} Anmeldungen.</li>
            {% endif %}
        </ul>
        {{gen_form(signup_guest_form, 'signup-guest', 'Weiter', url_for('event_guest_form', event_id=event.event_id))}}
    {% else %}
        <p>Bevor du das tun kannst, musst du dich erst <a href="{{url_for('event_page', event_id=event.event_id, _anchor='signup')}}">selbst anmelden</a>.</p>
    {% endif %}
{% endblock %}
