{% extends "base.html" %}

{% block page_content %}
    <p><strong>{{event}}</strong> findet vom {{event.start_str}} bis zum {{event.end_str}} {{event.data['location'].value()}} statt.</p>
    {% if event.menschen | length > 0 %}
        <p>Aktuell {% if event.menschen | length > 1 %}sind{% else %}ist{% endif %} {{event.menschen | length}} Mensch{% if event.menschen | length > 1 %}en{% endif %} angemeldet:</p>
        <ul>
            {% for mensch in event.menschen %}
                <li>{{mensch | mention}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Anmeldung</h1>
    {% if g.user in event.menschen %}
        {% if event.anzahlung is none %}
            <p>Du bist schon angemeldet.</p>
        {% else %}
            <p>Deine Anzahlung ist angekommen. Damit bist du jetzt angemeldet.</p>
        {% endif %}
        <p>Der Rest der Anmeldungsseite ist noch in Arbeit. Wenn sie fertig ist, wirst du auf Discord angepingt.</p>
    {% else %}
        {% if event.anzahlung is none %}
            <p>Coming soon™</p>
        {% else %}
            <p>Um dich anzumelden, überweise bitte die Anzahlung von {{event.anzahlung}} an:</p>
            <p>{{event.data['konto'].value() | nl2br}}</p>
            {% if event.ausfall.value > (event.data['menschen'] | length) * event.anzahlung.value %}
                <p>Wichtig: wir können erst buchen, wenn die Ausfallgebühr von {{event.ausfall}} gesichert ist. Dazu fehlen noch {{(event.ausfall.value / event.anzahlung.value - (event.data['menschen'] | length)) | round(0, 'ceil') | int}} Anmeldungen.</p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
