{% extends "base.html.j2" %}

{% block title %}Spiele{% endblock %}

{% block page_content %}
    <h1>Spiele</h1>
    <ul>
        {% for node in g.view_node.children | sort %}
            <li><a href="{{node.url}}">{{node}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
