{% extends "base.html" %)

{% block page_content %}
    <div><img style="max-width: 100%; max-height: 500px;" src="{{url_for('.static', filename='gefolge.png')}}" /></div>
    <p>Das <b><a href="//wiki.gefolge.org/Gefolge">Gefolge</a></b> ist eine lose Gruppe von <a href="//wiki.gefolge.org/Mensch">Menschen</a> und <a href="//wiki.gefolge.org/Benutzer:Xor">anderen Lebewesen</a>, die sich größtenteils über die <a href="//wiki.gefolge.org/Camp">Mensa Juniors Camps</a> kennen.</p>
    <p>Wir haben ein <a href="//wiki.gefolge.org/">Wiki</a> und einen <a href="https://discordapp.com/">Discord</a> server (Einladung für Gefolgemenschen auf Anfrage).</p>
    <p>Wenn du schon auf dem Discord server bist, kannst du dich damit <a href="{{url_for('discord.login')}}">hier anmelden</a>.</p>
    <hr/>
    <footer>
        <p class="muted text-center">
            <a href="http://fenhl.net/">hosted by fenhl.net</a> — <a href="http://fenhl.net/disc">disclaimer</a>
        </p>
        <p class="muted text-center">
            Bild CC-BY-SA 2.5 Ronald Preuss, aus Wikimedia Commons (<a href="https://commons.wikimedia.org/wiki/File:Ritter_gefolge.jpg">Link</a>)
        </p>
    </footer>
{% endblock %}
