{% macro gen_field(form, field) %}
    {#FROM https://github.com/wurstmineberg/wurstmineberg.de/blob/master/wurstmineberg_web/templates/preferences.html #}
    {% if form.errors and field.short_name in form.errors %}
        <div class="alert alert-danger col-sm-10 col-sm-offset-2" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Fehler:</span>
            {% if form.errors[field.short_name] | length == 1 %}
                {{form.errors[field.short_name][0]}}
            {% else %}
                {% for message in form.errors[field.short_name] %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    <div class="form-group">
        {% if field.type == 'FormSection' %}
            <div class="col-sm-2"></div>
            <h{{field.level}} class="col-sm-10">{{field.title}}</h{{field.level}}>
        {% elif field.type == 'FormText' %}
            <label class="col-sm-2" style="text-align: right; padding-top: 5px;">{{field.label}}</label>
            <p class="col-sm-10 help-block">{{field.text}}</p>
        {% elif field.type == 'AnnotatedStringField' %}
            <label for="input_description" class="col-sm-2 control-label">{{field.label}}</label>
            <div class="col-sm-10">
                {% if field.prefix is none and field.suffix is none %}
                    {% if 'placeholder' in field.description %}
                        {{field(class="form-control", placeholder=field.description['placeholder'])}}
                    {% else %}
                        {{field(class="form-control")}}
                    {% endif %}
                {% else %}
                    <div class="input-group">
                        {% if field.prefix is not none %}
                            <span class="input-group-addon">{{field.prefix}}</span>
                        {% endif %}
                        {% if 'placeholder' in field.description %}
                            {{field(class="form-control", placeholder=field.description['placeholder'])}}
                        {% else %}
                            {{field(class="form-control")}}
                        {% endif %}
                        {% if field.suffix is not none %}
                            <span class="input-group-addon">{{field.suffix}}</span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% elif field.type == 'BooleanField' %}
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        {{field()}} {{field.label}}
                    </label>
                </div>
            </div>
        {% elif field.type == 'DateTimeField' %}
            <label for="input_description" class="col-sm-2 control-label">{{field.label}}</label>
            <div class="col-sm-10">
                <div class="input-group dt-field" data-format="{{field.moment_format}}" data-timestamp="{{field.default}}" data-timezone="{{field.timezone}}">
                    {% if 'placeholder' in field.description %}
                        {{field(class="form-control", placeholder=field.description['placeholder'])}}
                    {% else %}
                        {{field(class="form-control")}}
                    {% endif %}
                    <span class="input-group-addon">{{field.timezone}}</span>
                </div>
            </div>
        {% elif field.type == 'HorizontalButtonGroupField' %}
            <label for="input_description" class="col-sm-2 control-label">{{field.label}}</label>
            <style>
                {% for choice, color_light, color_dark in field.choice_colors %}
                    .btn.hbgf-{{field.id}}-{{choice}} {
                        color: {{color_light}};
                        border-color: {{color_light}};
                    }

                    .btn.hbgf-{{field.id}}-{{choice}}.active {
                        color: white;
                        border-color: {{color_light}};
                        background-color: {{color_light}};
                    }

                    @media (prefers-color-scheme: dark) {
                        .btn.hbgf-{{field.id}}-{{choice}} {
                            color: {{color_dark}};
                            border-color: {{color_dark}};
                        }

                        .btn.hbgf-{{field.id}}-{{choice}}.active {
                            color: black;
                            border-color: {{color_dark}};
                            background-color: {{color_dark}};
                        }
                    }
                {% endfor %}
            </style>
            <div class="col-sm-10 btn-group btn-group-toggle" data-toggle="buttons">
                {% for subfield in field %}
                    <label class="btn hbgf-{{field.id}}-{{subfield.data}} {% if subfield.checked %}active{% endif %}">
                        <input type="radio" id="{{subfield.id}}" name="{{subfield.name}}" value="{{subfield.data}}" {% if subfield.checked %}checked="checked"{% endif %}>{{subfield.label.text}}</input>
                    </label>
               {% endfor %}
            </div>
        {% elif field.type == 'SubmitField' %}
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" value="{{field.label.text}}" name="{{field.name}}">{{field.label.text}}</button>
            </div>
        {% else %}
            <label for="input_description" class="col-sm-2 control-label">{{field.label}}</label>
            <div class="col-sm-10">
                {% if 'placeholder' in field.description %}
                    {{field(class="form-control", placeholder=field.description['placeholder'])}}
                {% else %}
                    {{field(class="form-control")}}
                {% endif %}
            </div>
        {% endif %}
        {% if 'text' in field.description %}
            <div class="col-sm-10 col-sm-offset-2">
                <span class="muted">{{field.description['text']}}</span>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro gen_form(form, post_url) %}
    <form class="form-horizontal" method="POST" role="form" action="{{post_url}}">
        {{form.hidden_tag()}}
        {% for field in form %}
            {% if not bootstrap_is_hidden_field(field) %}
                {{gen_field(form, field)}}
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}
