{% extends "base.html.j2" %}

{% block title %}{{person.__str__()}} bearbeiten — Das Gefolge{% endblock %}

{% block page_content %}
    {% if person.nickname is none %}
        <h1>
            {{person.username}}<span class="muted">#{{person.discrim}}</span>
            <a href="{{person.profile_url}}" class="btn btn-danger">Abbrechen</a>
        </h1>
    {% else %}
        <h1>
            {{person.nickname}}
            <a href="{{person.profile_url}}" class="btn btn-danger">Abbrechen</a>
        </h1>
        <h2>{{person.username}}<span class="muted">#{{person.discrim}}</span></h1>
    {% endif %}
    {% if g.user is admin or g.user == person %}
        {{gen_form(profile_form, url_for('profile_edit', person=person.snowflake))}}
    {% else %}
        <p>Du bist nicht berechtigt, dieses Profil zu bearbeiten.</p>
    {% endif %}
{% endblock %}
