{% extends "base.html.j2" %}

{% block title %}{{mensch.__str__()}} bearbeiten — Das Gefolge{% endblock %}

{% block page_content %}
    {% if mensch.profile_data['nick'] is none %}
        <h1>
            {{mensch.profile_data['username']}}<span class="muted">#{{mensch.discrim}}</span>
            <a href="{{mensch.profile_url}}" class="btn btn-danger">Abbrechen</a>
        </h1>
    {% else %}
        <h1>
            {{mensch.profile_data['nick']}}
            <a href="{{mensch.profile_url}}" class="btn btn-danger">Abbrechen</a>
        </h1>
        <h2>{{mensch.profile_data['username']}}<span class="muted">#{{mensch.discrim}}</span></h1>
    {% endif %}
    {% if g.user.is_admin or g.user == mensch %}
        {{gen_form(profile_form, url_for('profile_edit', mensch=mensch.snowflake))}}
    {% else %}
        <p>Du bist nicht berechtigt, dieses Profil zu bearbeiten.</p>
    {% endif %}
{% endblock %}
