body {
    color-scheme: light dark;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Noto Sans", sans-serif;
}

.splash {
    height: 100vh;
    text-align: center;
}

nav,
nav > a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 64px;
    object-fit: contain;
}

nav.breadcrumbs .logo {
    width: 32px;
}

.splash > img {
    flex-grow: 1;
    min-height: 0;
    max-height: 500px;
    object-fit: scale-down;
}

nav h1 {
    font-size: 32px;
    line-height: 1;
    margin-top: 0;
}

#login {
    flex-grow: 1;
    align-self: start;
    text-align: end;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DejaVu Sans", sans-serif;
    margin-bottom: -0.25em;
}

.header-with-buttons h1,
.header-with-buttons h2,
.header-with-buttons h3,
.header-with-buttons h4,
.header-with-buttons h5,
.header-with-buttons h6 {
    display: inline-block;
}

body > div,
.splash > main,
footer {
    margin: 8px;
}

body > div {
    flex-grow: 0;
}

.splash > main {
    flex-grow: 1;
}

blockquote {
    border-left: 5px solid gray;
    margin-left: 15px;
    padding-left: 20px;
}

table {
    margin: 8px;
}

table,
table th,
table td {
    border: 1px solid black;
    border-spacing: 0;
    text-align: center;
    border-collapse: collapse;
}

table th,
table td {
    padding: 4px;
}

tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

a {
    color: inherit;
}

a.nav,
a.button,
a:hover {
    text-decoration: none;
}

.button {
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}

.button {
    border-inline-start-width: 0;
}

.button:nth-child(1) {
    border-inline-start-width: 1px;
    border-start-start-radius: 8px;
    border-end-start-radius: 8px;
}

.button:nth-last-child(1) {
    border-start-end-radius: 8px;
    border-end-end-radius: 8px;
}

.button:hover {
    background-color: black;
    color: white;
}

.daterange:not([data-timezone]) {
    text-decoration: underline;
    text-decoration-style: dotted;
}

footer {
    color: gray;
}

@media (min-width: 448px) {
    nav.index .logo {
        width: 128px;
    }

    nav.index h1 {
        font-size: 64px;
    }
}

@media (min-width: 768px) {
    nav.breadcrumbs .logo {
        width: 64px;
    }

    nav h1 {
        font-size: 64px;
    }

    table th,
    table td {
        padding: 8px;
    }
}

@media (min-width: 1152px) {
    nav.index h1 {
        font-size: 128px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    img.logo,
    .splash > img {
        filter: invert(1);
    }

    table,
    table th,
    table td {
        border-color: white;
    }

    tbody > tr:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .button {
        background-color: black;
        border-color: white;
    }

    .button:hover {
        background-color: white;
        color: black;
    }
}
